<html>
<head>
<title></title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type ="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type ="text/javascript">
         $(document). ready(function (){
            var socket  = io.connect();

            $( '#epic').click(function (){
                  console.log('hi');
                  socket.emit("pushing_button");
            });
            socket.on( 'updated_count', function (data){
                  $('#response').html('<p>' + data.response + '</p>');
            });
            $( '#reset').click(function (){
                  console.log('reset');
                  socket.emit("resetting");
            });
            socket.on( 'reset_count', function (data){
                  $('#response').html('<p>' + data.response + '</p>');
            });

        })
    </script>
</head>
<body>
    <div id="response"></div>
    <button id="epic">Push the epic button</button>
    <button id="reset">Reset count</button>
</body>
</html>
