<html>
<head>
<title>Epic Button Game</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type ="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type ="text/javascript" src="/js/main.js"></script>
    </script>
</head>
<body>
    <div id="response"></div>
    <button id="epic">Push the epic button</button>
    <button id="reset">Reset count</button>
</body>
</html>
